:root{
  --main-bg-color: rgb(225, 232, 240);
  --primary-color: rgb(50, 50, 140);
  --secondary-color: rgb(125, 104, 233);
  --light-color: rgb(243, 245, 247);
  --gray-color: rgb(196, 193, 193);
  --font-color: rgb(0, 0, 10);
}
